<a href="https://colab.research.google.com/github/AndAyres89/Base-de-Dados-Futebol/blob/main/BasedeDadosAtualizada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importando as Bibliotecas

In [1]:
import pandas as pd
import numpy as np
from google.colab import data_table
data_table.enable_dataframe_formatter()

Coletando as planilhas das Ligas Principais

In [2]:
# Inglaterra 1
ENG1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/E0.csv")
ENG1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/E0.csv")
ENG1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/E0.csv")
ENG1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/E0.csv")
ENG1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/E0.csv")
ENG1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/E0.csv")
ENG1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/E0.csv")
ENG1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/E0.csv")
ENG1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/E0.csv")
ENG1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/E0.csv")
ENG1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/E0.csv")
ENG1 = [ENG1_01,ENG1_02,ENG1_03,ENG1_04,ENG1_05,ENG1_06,ENG1_07,ENG1_08,ENG1_09,ENG1_10,ENG1_11]
ENG1 = pd.concat(ENG1)
ENG1['Liga'] = 'Inglaterra 1'

# Inglaterra 2
ENG2_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/E1.csv")
ENG2_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/E1.csv")
ENG2_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/E1.csv")
ENG2_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/E1.csv")
ENG2_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/E1.csv")
ENG2_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/E1.csv")
ENG2_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/E1.csv")
ENG2_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/E1.csv")
ENG2_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/E1.csv")
ENG2_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/E1.csv")
ENG2_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/E1.csv")
ENG2 = [ENG2_01,ENG2_02,ENG2_03,ENG2_04,ENG2_05,ENG2_06,ENG2_07,ENG2_08,ENG2_09,ENG2_10,ENG2_11]
ENG2 = pd.concat(ENG2)
ENG2['Liga'] = 'Inglaterra 2'

# Escócia 1
SCO1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/SC0.csv")
SCO1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/SC0.csv")
SCO1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/SC0.csv")
SCO1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/SC0.csv")
#SCO1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/SC0.csv") ERRO DE CODIFICAÇÃO
SCO1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/SC0.csv")
SCO1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/SC0.csv")
SCO1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/SC0.csv")
SCO1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/SC0.csv")
SCO1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/SC0.csv")
SCO1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/SC0.csv")
# SCO1 = [SCO1_01,SCO1_02,SCO1_03,SCO1_04,SCO1_05,SCO1_06,SCO1_07,SCO1_08,SCO1_09,SCO1_10]
SCO1 = [SCO1_01,SCO1_02,SCO1_03,SCO1_04,SCO1_06,SCO1_07,SCO1_08,SCO1_09,SCO1_10,SCO1_11]
SCO1 = pd.concat(SCO1)
SCO1['Liga'] = 'Escócia 1'

# Alemanha 1
GER1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/D1.csv")
GER1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/D1.csv")
GER1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/D1.csv")
GER1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/D1.csv")
GER1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/D1.csv")
GER1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/D1.csv")
GER1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/D1.csv")
GER1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/D1.csv")
GER1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/D1.csv")
GER1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/D1.csv")
GER1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/D1.csv")
GER1 = [GER1_01,GER1_02,GER1_03,GER1_04,GER1_05,GER1_06,GER1_07,GER1_08,GER1_09,GER1_10,GER1_11]
GER1 = pd.concat(GER1)
GER1['Liga'] = 'Alemanha 1'

# Alemanha 2
GER2_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/D2.csv")
GER2_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/D2.csv")
GER2_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/D2.csv")
GER2_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/D2.csv")
GER2_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/D2.csv")
GER2_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/D2.csv")
GER2_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/D2.csv")
GER2_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/D2.csv")
GER2_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/D2.csv")
GER2_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/D2.csv")
GER2_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/D2.csv")
GER2 = [GER2_01,GER2_02,GER2_03,GER2_04,GER2_05,GER2_06,GER2_07,GER2_08,GER2_09,GER2_10,GER2_11]
GER2 = pd.concat(GER2)
GER2['Liga'] = 'Alemanha 2'

# Itália 1
ITA1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/I1.csv")
ITA1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/I1.csv")
ITA1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/I1.csv")
ITA1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/I1.csv")
ITA1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/I1.csv")
ITA1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/I1.csv")
ITA1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/I1.csv")
ITA1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/I1.csv")
ITA1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/I1.csv")
ITA1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/I1.csv")
ITA1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/I1.csv")
ITA1 = [ITA1_01,ITA1_02,ITA1_03,ITA1_04,ITA1_05,ITA1_06,ITA1_07,ITA1_08,ITA1_09,ITA1_10,ITA1_11]
ITA1 = pd.concat(ITA1)
ITA1['Liga'] = 'Itália 1'

# Itália 2
ITA2_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/I2.csv")
ITA2_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/I2.csv")
ITA2_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/I2.csv")
ITA2_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/I2.csv")
# ITA2_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/I2.csv") ERRO DE CODIFICAÇÃO
ITA2_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/I2.csv")
ITA2_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/I2.csv")
ITA2_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/I2.csv")
ITA2_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/I2.csv")
ITA2_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/I2.csv")
ITA2_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/I2.csv")
# ITA2 = [ITA2_01,ITA2_02,ITA2_03,ITA2_04,ITA2_05,ITA2_06,ITA2_07,ITA2_08,ITA2_09,ITA2_10]
ITA2 = [ITA2_01,ITA2_02,ITA2_03,ITA2_04,ITA2_06,ITA2_07,ITA2_08,ITA2_09,ITA2_10,ITA2_11]
ITA2 = pd.concat(ITA2)
ITA2['Liga'] = 'Itália 2'

# Espanha 1
SPA1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/SP1.csv")
SPA1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/SP1.csv")
SPA1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/SP1.csv")
SPA1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/SP1.csv")
SPA1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/SP1.csv")
SPA1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/SP1.csv")
SPA1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/SP1.csv")
SPA1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/SP1.csv")
SPA1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/SP1.csv")
SPA1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/SP1.csv")
SPA1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/SP1.csv")
SPA1 = [SPA1_01,SPA1_02,SPA1_03,SPA1_04,SPA1_05,SPA1_06,SPA1_07,SPA1_08,SPA1_09,SPA1_10,SPA1_11]
SPA1 = pd.concat(SPA1)
SPA1['Liga'] = 'Espanha 1'

# Espanha 2
SPA2_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/SP2.csv")
SPA2_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/SP2.csv")
SPA2_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/SP2.csv")
SPA2_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/SP2.csv")
SPA2_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/SP2.csv")
SPA2_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/SP2.csv")
SPA2_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/SP2.csv")
SPA2_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/SP2.csv")
SPA2_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/SP2.csv")
SPA2_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/SP2.csv")
SPA2_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/SP2.csv")
SPA2 = [SPA2_01,SPA2_02,SPA2_03,SPA2_04,SPA2_05,SPA2_06,SPA2_07,SPA2_08,SPA2_09,SPA2_10,SPA2_11]
SPA2 = pd.concat(SPA2)
SPA2['Liga'] = 'Espanha 2'

# França 1
FRA1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/F1.csv")
FRA1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/F1.csv")
FRA1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/F1.csv")
FRA1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/F1.csv")
FRA1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/F1.csv")
FRA1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/F1.csv")
FRA1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/F1.csv")
FRA1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/F1.csv")
FRA1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/F1.csv")
FRA1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/F1.csv")
FRA1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/F1.csv")
FRA1 = [FRA1_01,FRA1_02,FRA1_03,FRA1_04,FRA1_05,FRA1_06,FRA1_07,FRA1_08,FRA1_09,FRA1_10,FRA1_11]
FRA1 = pd.concat(FRA1)
FRA1['Liga'] = 'França 1'

# França 2
FRA2_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/F2.csv")
FRA2_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/F2.csv")
FRA2_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/F2.csv")
FRA2_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/F2.csv")
FRA2_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/F2.csv")
FRA2_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/F2.csv")
FRA2_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/F2.csv")
FRA2_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/F2.csv")
FRA2_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/F2.csv")
FRA2_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/F2.csv")
FRA2_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/F2.csv")
FRA2 = [FRA2_01,FRA2_02,FRA2_03,FRA2_04,FRA2_05,FRA2_06,FRA2_07,FRA2_08,FRA2_09,FRA2_10,FRA2_11]
FRA2 = pd.concat(FRA2)
FRA2['Liga'] = 'França 2'

# Holanda 1
NET1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/N1.csv")
NET1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/N1.csv")
NET1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/N1.csv")
NET1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/N1.csv")
NET1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/N1.csv")
NET1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/N1.csv")
NET1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/N1.csv")
NET1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/N1.csv")
NET1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/N1.csv")
NET1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/N1.csv")
NET1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/N1.csv")
NET1 = [NET1_01,NET1_02,NET1_03,NET1_04,NET1_05,NET1_06,NET1_07,NET1_08,NET1_09,NET1_10,NET1_11]
NET1 = pd.concat(NET1)
NET1['Liga'] = 'Holanda 1'

# Bélgica 1
BEL1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/B1.csv")
BEL1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/B1.csv")
BEL1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/B1.csv")
BEL1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/B1.csv")
BEL1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/B1.csv")
BEL1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/B1.csv")
BEL1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/B1.csv")
BEL1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/B1.csv")
BEL1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/B1.csv")
BEL1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/B1.csv")
BEL1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/B1.csv")
BEL1 = [BEL1_01,BEL1_02,BEL1_03,BEL1_04,BEL1_05,BEL1_06,BEL1_07,BEL1_08,BEL1_09,BEL1_10,BEL1_11]
BEL1 = pd.concat(BEL1)
BEL1['Liga'] = 'Bélgica 1'

# Portugal 1
POR1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/P1.csv")
POR1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/P1.csv")
POR1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/P1.csv")
POR1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/P1.csv")
POR1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/P1.csv")
POR1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/P1.csv")
POR1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/P1.csv")
POR1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/P1.csv")
POR1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/P1.csv")
POR1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/P1.csv")
POR1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/P1.csv")
POR1 = [POR1_01,POR1_02,POR1_03,POR1_04,POR1_05,POR1_06,POR1_07,POR1_08,POR1_09,POR1_10,POR1_11]
POR1 = pd.concat(POR1)
POR1['Liga'] = 'Portugal 1'

# Turquia 1
TUR1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/T1.csv")
TUR1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/T1.csv")
TUR1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/T1.csv")
TUR1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/T1.csv")
TUR1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/T1.csv")
TUR1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/T1.csv")
TUR1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/T1.csv")
TUR1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/T1.csv")
TUR1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/T1.csv")
TUR1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/T1.csv")
TUR1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/T1.csv")
TUR1 = [TUR1_01,TUR1_02,TUR1_03,TUR1_04,TUR1_05,TUR1_06,TUR1_07,TUR1_08,TUR1_09,TUR1_10,TUR1_11]
TUR1 = pd.concat(TUR1)
TUR1['Liga'] = 'Turquia 1'

# Grécia 1
GRE1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/G1.csv")
GRE1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/G1.csv")
GRE1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/G1.csv")
GRE1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/G1.csv")
GRE1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/G1.csv")
GRE1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/G1.csv")
GRE1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/G1.csv")
GRE1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/G1.csv")
GRE1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/G1.csv")
GRE1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/G1.csv")
GRE1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/G1.csv")
GRE1 = [GRE1_01,GRE1_02,GRE1_03,GRE1_04,GRE1_05,GRE1_06,GRE1_07,GRE1_08,GRE1_09,GRE1_10,GRE1_11]
GRE1 = pd.concat(GRE1)
GRE1['Liga'] = 'Grécia 1'

Coletando as planilhas das ligas secundárias.

In [3]:
ARG = pd.read_csv("https://www.football-data.co.uk/new/ARG.csv")
ARG['Liga'] = 'Argentina'

AUS = pd.read_csv("https://www.football-data.co.uk/new/AUT.csv")
AUS['Liga'] = 'Austria'

BRA = pd.read_csv("https://www.football-data.co.uk/new/BRA.csv")
BRA['Liga'] = 'Brasil'

CHI = pd.read_csv("https://www.football-data.co.uk/new/CHN.csv")
CHI['Liga'] = 'China'

DIN = pd.read_csv("https://www.football-data.co.uk/new/DNK.csv")
DIN['Liga'] = 'Dinamarca'

FIN = pd.read_csv("https://www.football-data.co.uk/new/FIN.csv")
FIN['Liga'] = 'Finlândia'

IRL = pd.read_csv("https://www.football-data.co.uk/new/IRL.csv")
IRL['Liga'] = 'Irlanda'

JAP = pd.read_csv("https://www.football-data.co.uk/new/JPN.csv")
JAP['Liga'] = 'Japão'

MEX = pd.read_csv("https://www.football-data.co.uk/new/MEX.csv")
MEX['Liga'] = 'México'

NOR = pd.read_csv("https://www.football-data.co.uk/new/NOR.csv")
NOR['Liga'] = 'Noruega'

POL = pd.read_csv("https://www.football-data.co.uk/new/POL.csv")
POL['Liga'] = 'Polônia'

ROM = pd.read_csv("https://www.football-data.co.uk/new/ROU.csv")
ROM['Liga'] = 'Romêmia'

RUS = pd.read_csv("https://www.football-data.co.uk/new/RUS.csv")
RUS['Liga'] = 'Rússia'

SUE = pd.read_csv("https://www.football-data.co.uk/new/SWE.csv")
SUE['Liga'] = 'Suécia'

SUI = pd.read_csv("https://www.football-data.co.uk/new/SWZ.csv")
SUI['Liga'] = 'Suíça'

USA = pd.read_csv("https://www.football-data.co.uk/new/USA.csv")
USA['Liga'] = 'USA'

Concatenando as Planilhas

In [4]:
df1 = [ENG1, ENG2, SCO1, GER1, GER2, ITA1, ITA2, SPA1, SPA2, FRA1, FRA2, NET1, BEL1, POR1, TUR1, GRE1]
df1 = pd.concat(df1)

df2 = [ARG, AUS, BRA, CHI, DIN, FIN, IRL, JAP, MEX, NOR, POL, ROM, RUS, SUE, SUI, USA]
df2 = pd.concat(df2)

Selecionando as colunas que serão utilizadas

In [5]:
df1 = df1[['Liga','Date','HomeTeam','FTHG','FTAG','AwayTeam','FTR','B365H','B365D','B365A']]

df2 = df2[['Liga','Date','Home','HG','AG','Away','Res','PH','PD','PA']]

Renomeando as colunas e unindo os DataFrames

In [6]:
df1.columns = ['Liga','Data','Mandante','GolsM','GolsV','Visitante','Resultado','OddsMandante','OddsEmpate','OddsVisitante']

df2.columns = ['Liga','Data','Mandante','GolsM','GolsV','Visitante','Resultado','OddsMandante','OddsEmpate','OddsVisitante']

df = [df1, df2]
df = pd.concat(df)

Visualizando o Resultado Final

In [7]:
df

Warning: total number of rows (105954) exceeds max_rows (20000). Falling back to pandas display.

,Liga,Data,Mandante,GolsM,GolsV,Visitante,Resultado,OddsMandante,OddsEmpate,OddsVisitante
0,Inglaterra 1,05/08/2022,Crystal Palace,0.0,2.0,Arsenal,A,4.20,3.60,1.85
1,Inglaterra 1,06/08/2022,Fulham,2.0,2.0,Liverpool,D,11.00,6.00,1.25
2,Inglaterra 1,06/08/2022,Bournemouth,2.0,0.0,Aston Villa,H,3.75,3.50,2.00
3,Inglaterra 1,06/08/2022,Leeds,2.0,1.0,Wolves,H,2.25,3.40,3.20
4,Inglaterra 1,06/08/2022,Newcastle,2.0,0.0,Nott'm Forest,H,1.66,3.80,5.25
...,...,...,...,...,...,...,...,...,...,...
4269,USA,12/03/2023,Sporting Kansas City,0.0,0.0,Los Angeles Galaxy,D,2.11,3.79,3.44
4270,USA,12/03/2023,Real Salt Lake,1.0,2.0,Austin FC,A,2.07,3.69,3.66
4271,USA,12/03/2023,Portland Timbers,1.0,2.0,St. Louis City,A,1.83,3.94,4.37
4272,USA,12/03/2023,San Jose Earthquakes,1.0,0.0,Colorado Rapids,H,1.76,4.05,4.67
4273,USA,13/03/2023,Los Angeles FC,4.0,0.0,New England Revolution,H,1.67,4.18,5.21

Ajustando o índice

In [8]:
df.reset_index(inplace=True, drop=True)
df.index = df.index.set_names(['Nº do Jogo'])
df = df.rename(index=lambda x: x + 1)

In [9]:
df

Warning: total number of rows (105954) exceeds max_rows (20000). Falling back to pandas display.

,Liga,Data,Mandante,GolsM,GolsV,Visitante,Resultado,OddsMandante,OddsEmpate,OddsVisitante
Nº do Jogo,,,,,,,,,,
1,Inglaterra 1,05/08/2022,Crystal Palace,0.0,2.0,Arsenal,A,4.20,3.60,1.85
2,Inglaterra 1,06/08/2022,Fulham,2.0,2.0,Liverpool,D,11.00,6.00,1.25
3,Inglaterra 1,06/08/2022,Bournemouth,2.0,0.0,Aston Villa,H,3.75,3.50,2.00
4,Inglaterra 1,06/08/2022,Leeds,2.0,1.0,Wolves,H,2.25,3.40,3.20
5,Inglaterra 1,06/08/2022,Newcastle,2.0,0.0,Nott'm Forest,H,1.66,3.80,5.25
...,...,...,...,...,...,...,...,...,...,...
105950,USA,12/03/2023,Sporting Kansas City,0.0,0.0,Los Angeles Galaxy,D,2.11,3.79,3.44
105951,USA,12/03/2023,Real Salt Lake,1.0,2.0,Austin FC,A,2.07,3.69,3.66
105952,USA,12/03/2023,Portland Timbers,1.0,2.0,St. Louis City,A,1.83,3.94,4.37
105953,USA,12/03/2023,San Jose Earthquakes,1.0,0.0,Colorado Rapids,H,1.76,4.05,4.67
105954,USA,13/03/2023,Los Angeles FC,4.0,0.0,New England Revolution,H,1.67,4.18,5.21

Verificar se tem algum valor nulo na base de dados

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105954 entries, 1 to 105954
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Liga           105954 non-null  object
 1   Data           105851 non-null  object
 2   Mandante       105851 non-null  object
 3   GolsM          105848 non-null  float64
 4   GolsV          105848 non-null  float64
 5   Visitante      105851 non-null  object
 6   Resultado      105848 non-null  object
 7   OddsMandante   105535 non-null  float64
 8   OddsEmpate     105535 non-null  float64
 9   OddsVisitante  105535 non-null  float64
dtypes: float64(5), object(5)
memory usage: 8.9+ MB

Remover os valores nulos do DataFrame

In [11]:
df = df.dropna()

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105534 entries, 1 to 105954
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Liga           105534 non-null  object
 1   Data           105534 non-null  object
 2   Mandante       105534 non-null  object
 3   GolsM          105534 non-null  float64
 4   GolsV          105534 non-null  float64
 5   Visitante      105534 non-null  object
 6   Resultado      105534 non-null  object
 7   OddsMandante   105534 non-null  float64
 8   OddsEmpate     105534 non-null  float64
 9   OddsVisitante  105534 non-null  float64
dtypes: float64(5), object(5)
memory usage: 8.9+ MB

In [13]:
# Perdas e Lucros - Back Linear
win_Back_H = 1 * df.OddsMandante - 1
win_Back_D = 1 * df.OddsEmpate - 1
win_Back_A = 1 * df.OddsVisitante - 1
lose = -1

df['Back_H'] = win_Back_H.where(df.Resultado == 'H', other=lose)
df['Back_D'] = win_Back_D.where(df.Resultado == 'D', other=lose)
df['Back_A'] = win_Back_A.where(df.Resultado == 'A', other=lose)

<ipython-input-13-2d076fbcb92f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Back_H'] = win_Back_H.where(df.Resultado == 'H', other=lose)
<ipython-input-13-2d076fbcb92f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Back_D'] = win_Back_D.where(df.Resultado == 'D', other=lose)
<ipython-input-13-2d076fbcb92f>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Back_A'] = win_Back_A.where(df.Resultado == 'A', other=lose)

In [14]:
# Perdas e Lucros - Lay Linear

win_Lay_H = 1 / (df.OddsMandante - 0.99)
win_Lay_D = 1 / (df.OddsEmpate - 0.99)
win_Lay_A = 1 / (df.OddsVisitante - 0.99)
lose = -1

df['Lay_H'] = win_Lay_H.where(df.Resultado != 'H', other=lose)
df['Lay_D'] = win_Lay_D.where(df.Resultado != 'D', other=lose)
df['Lay_A'] = win_Lay_A.where(df.Resultado != 'A', other=lose)

<ipython-input-14-816fc0873b2d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Lay_H'] = win_Lay_H.where(df.Resultado != 'H', other=lose)
<ipython-input-14-816fc0873b2d>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Lay_D'] = win_Lay_D.where(df.Resultado != 'D', other=lose)
<ipython-input-14-816fc0873b2d>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Lay_A'] = win_Lay_A.where(df.Resultado != 'A', other=lose)

In [15]:
df

Warning: total number of rows (105534) exceeds max_rows (20000). Falling back to pandas display.

,Liga,Data,Mandante,GolsM,GolsV,Visitante,Resultado,OddsMandante,OddsEmpate,OddsVisitante,Back_H,Back_D,Back_A,Lay_H,Lay_D,Lay_A
Nº do Jogo,,,,,,,,,,,,,,,,
1,Inglaterra 1,05/08/2022,Crystal Palace,0.0,2.0,Arsenal,A,4.20,3.60,1.85,-1.00,-1.00,0.85,0.311526,0.383142,-1.000000
2,Inglaterra 1,06/08/2022,Fulham,2.0,2.0,Liverpool,D,11.00,6.00,1.25,-1.00,5.00,-1.00,0.099900,-1.000000,3.846154
3,Inglaterra 1,06/08/2022,Bournemouth,2.0,0.0,Aston Villa,H,3.75,3.50,2.00,2.75,-1.00,-1.00,-1.000000,0.398406,0.990099
4,Inglaterra 1,06/08/2022,Leeds,2.0,1.0,Wolves,H,2.25,3.40,3.20,1.25,-1.00,-1.00,-1.000000,0.414938,0.452489
5,Inglaterra 1,06/08/2022,Newcastle,2.0,0.0,Nott'm Forest,H,1.66,3.80,5.25,0.66,-1.00,-1.00,-1.000000,0.355872,0.234742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105950,USA,12/03/2023,Sporting Kansas City,0.0,0.0,Los Angeles Galaxy,D,2.11,3.79,3.44,-1.00,2.79,-1.00,0.892857,-1.000000,0.408163
105951,USA,12/03/2023,Real Salt Lake,1.0,2.0,Austin FC,A,2.07,3.69,3.66,-1.00,-1.00,2.66,0.925926,0.370370,-1.000000
105952,USA,12/03/2023,Portland Timbers,1.0,2.0,St. Louis City,A,1.83,3.94,4.37,-1.00,-1.00,3.37,1.190476,0.338983,-1.000000
105953,USA,12/03/2023,San Jose Earthquakes,1.0,0.0,Colorado Rapids,H,1.76,4.05,4.67,0.76,-1.00,-1.00,-1.000000,0.326797,0.271739
105954,USA,13/03/2023,Los Angeles FC,4.0,0.0,New England Revolution,H,1.67,4.18,5.21,0.67,-1.00,-1.00,-1.000000,0.313480,0.236967

In [16]:
df.to_excel("Base_de_Dados_Full.xlsx", index=False)